// *= require bootstrap

@import "bourbon";

body {
  font-family: $helvetica;
  background-color: #dedede;
}

.fixed {
  position: absolute;
}

.container {
  max-width: 1050px;
}

.navbar {
  height: 48px;
  background: image-url("navbar.png");
  margin-bottom: 0px;

  .navbar-brand, a {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.main {
  background: image-url("green-back.jpg");
}